HOST=0.0.0.0
PORT=9580
STATIC_ROOT=/home/fk/freekill-web/dist
FREEKILL_HOST=127.0.0.1
FREEKILL_PORT=9527
WS_PATH=/ws
ALLOWED_ORIGINS=https://zijing.yejiaxin.online,http://123.57.220.25:9580
MAX_CONNECTIONS=2000
